@charset "UTF-8";
.updatediv{
	padding-top:100px;
	text-align: center;
	background-color: gray;
	padding-bottom: 100px;
}
.updatediv .bu1{
	width: 200px;
}

.updatediv .bu2{
	width: 200px;
}