@charset "UTF-8";
.div1{
	text-align: center;
}
.div1 .bu1{
	width: 200px;
	height:40px;
	border: 2px #0000ff double;
	color: #00ff00;
}

.div1 .bu2{
	width: 200px;
	height:40px;
	border: 2px #0000ff double;
	color: #ff0000;
}